@charset "UTF-8";

body {
    font: normal 15pt arial;
    background-color: blueviolet;
}

header {
    text-align: center;
}

section {
    border-radius: 10px;
    background: rgb(240, 224, 4);
    padding: 15px;
    height: 100%;
    width: 100%;
    margin: auto;
    box-shadow: 5px 5px 10px black;
}

footer {
    text-align: center;
    font-style: italic;
}

div#res {
    height: 98%;
    width: 98%;
    text-align: center;
    background-color: aqua;
}

p {
    text-align: center;
}